@import 'https://fonts.googleapis.com/css?family=Work+Sans:900';

ol>li,
ul>li {
  margin-right: 0;
  margin-left: 0;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Work Sans', sans-serif;
}

h2,
h3 {
  letter-spacing: .1em;
  color: #333;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

label {
  font-size: 1.1em;
  text-transform: uppercase;
}

.button {
  box-shadow: rgba(14, 14, 33, 0.25) 0 22px 44px 0;
}

.text-light-grey {
  color: #aaa!important;
}

.font-size-xsmall {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.hero {
  background: url('../img/bg.jpg') no-repeat center center #555;
  background-size: cover;
}

.hero>h1 {
  font-size: 5rem;
  line-height: 6.5rem;
}

.hero>h1>a:hover {
  text-decoration: none;
}

.hero>span {
  font-size: 2.8rem;
  font-family: 'Work Sans', sans-serif;
}

.lead>a {
  color: inherit;
}

.slider {
  border-radius: 3px;
  box-shadow: rgba(14, 14, 33, 0.25) 0 22px 44px 0;
}

.profile-img {
  box-shadow: rgba(14, 14, 33, 0.25) 0 22px 44px 0;
}

.modal {
  position: fixed;
  z-index: 10;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.3s;
}

.modal.visible {
  visibility: visible;
  opacity: 1;
}

.modal aside {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  border-radius: 3px;
  opacity: 0;
  transition: 0.3s;
  transform: translate(-50%, -50%) scale(0.8);
}

.modal.visible aside {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.lodging a:hover {
  text-decoration: none;
}

.inline {
  display: inline;
}

.button-large {
  padding: 1em 2em;
  height: auto;
}

.lead {
  font-size: 2.5em;
  line-height: 1.8em;
}

.max-width-smaller {
  max-width: 400px;
}

.max-width-larger {
  max-width: 1500px;
}

.auto {
  margin-right: auto;
  margin-left: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coaches>div {
  display: flex;
  align-items: center;
}

.coaches>div>div>p {
  margin-top: 0.5rem;
}